<button class="hamburger" id="js-hamburger">
  <span></span>
  <span></span>
  <span></span>
</button>
<div class="top-bar">
  <nav>
    <ul>
      <li><a href="/">トップ</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/">活動内容</a></li>
      <li><a href="/">Join Us/FAQ</a></li>
      <li><a href="/pages/sns/index.html">SNS</a></li>
      <li><a href="/">お問い合わせ</a></li>
    </ul>
  </nav>
</div>

<!-- モバイルサイト向けハンバーガーメニュー -->
<nav class="menu" id="js-menu">
  <ul>
    <li><a href="/">トップ</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/">活動内容</a></li>
      <li><a href="/">Join Us/FAQ</a></li>
      <li><a href="/pages/sns/index.html">SNS</a></li>
      <li><a href="/">お問い合わせ</a></li>
  </ul>
</nav>
