      <div class="logo">
        <img src="favicon.svg" alt="logo" width="40px" height="40px" />
        <p>翠嵐山岳部　<br class="sp"><span id="element1"></span></p>
          <script>
            var typed = new Typed('#element1', {
            strings: ['just climbing!'],typeSpeed: 50,
            });
          </script>
      </div>
      <button class="hamburger" id="js-hamburger">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="top-bar">
        <nav>
        <ul>
          <li><a href="">トップ</a></li>
          <li><a href="">トピックス</a></li>
          <li><a href="">活動内容</a></li>
          <li><a href="">今年の山行</a></li>
          <li><a href="">リンク集</a></li>
          <li><a href="">お問い合わせ</a></li>
        </ul>
        </nav>
      </div>

      <!-- モバイルサイト向けハンバーガーメニュー -->
      <nav class="menu" id="js-menu">
        <ul>
          <li><a href="">トップ</a></li>
          <li><a href="">トピックス</a></li>
          <li><a href="">活動内容</a></li>
          <li><a href="">今年の山行</a></li>
          <li><a href="">リンク集</a></li>
          <li><a href="">お問い合わせ</a></li>
        </ul>
      </nav>
