a.viewMore {
  font-family: 'Noto Serif JP', serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #333;
  font-weight: 400;
  display: block;
  position: relative;
  box-sizing: border-box;
  max-width: 180px;
  text-align: center; 
  padding: 4px 16px 4px 0;
  margin: 24px;
  margin-inline: auto;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

a.viewMore::before {
  content: "";
  display: block;
  position: absolute;
  width: 180px;
  height: 1px;
  background: #333;
  bottom: 0;
  transition: all 0.3s;
}

a.viewMore::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 1px;
  background: #333;
  rotate: 40deg;
  right: -3px;
  bottom: 10px;
  transition: all 0.3s;
}

a.viewMore:hover::after,
a.viewMore:hover::before {
  translate: 20px 0;
  transition: all 0.3s;
}
