@charset "UTF-8";

a{
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
}

body {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.logo img{
  margin-top: 5px;
}

.logo p{
  font-size: 40px !important;
}

.logo {
  text-align: center;
  line-height: 0px;
  margin-bottom: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

nav ul li{
  flex: 1;
  border-right: 1px solid #ddd;
}

nav ul li:first-child{
  border-left: 1px solid #ddd;
}

nav {
  width: 100%;
  padding: 0px 20px !important;
}

header {
  border-top: 10px solid #79a1b1;
  width: 100%;
  text-decoration: none;
}

header nav ul li a{
  color: black;
  display: block !important;
  background-color: none;
}

.face-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.service-container{
  display: flex;
  flex:1;
  justify-content: space-around;
}

footer{
  margin-top: 40px;
}

.policy{
  text-align: right;
  margin-right: 20px;
}

.copy{
  color: white;
  background: #79a1b1;
}
